@charset "utf-8";

body {
  background-image: url(img/imagem.jpeg);
  font-family: "Courier New", Courier, monospace;
  background-color: black;
}

main {
  margin-top: 150px;
}

p {
  text-align: center;
  color: white;
  background-color: rgb(0, 0, 0);
}

li {
  display: inline-block;
  padding: 5%;
  margin-left: 13%;
}

a {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

.initial h1 {
  text-align: center;
  color: white;
  font-size: 50px;
}

.content {
  display: flex;
  margin-top: 10%;
}

.content img {
  margin-right: 10px;
  display: block;
  border-radius: 10px;
  width: 30rem;
  height: 30rem;
}

.content h3 {
  font-size: 30px;
  margin-left: 37px;
  color: white;
}

.content p {
  text-align: left;
  margin-left: 5%;
  max-width: 770px;
}

.contentTwo {
  margin-top: 10%;
  display: flex;
}

.contentTwo h3 {
  color: white;
  font-size: 30px;
  margin-left: 40px;
}

.contentTwo p {
  text-align: left;
  max-width: 770px;
  margin-left: 5%;
}

.contentTwo img {
  margin-left: 42px;
  display: block;
  border-radius: 10px;
  width: 30rem;
  height: 30rem;
}
