@charset "utf-8";

h1#principal {
  text-align: center;
  color: white;
}

p {
  text-align: center;
  color: white;
}

body {
  background-color: black;
  background-image: url(img/imagem.jpeg);
  font-family: "Courier New", Courier, monospace;
}

h2 {
  font-size: 17px;
  background-color: gray;
}

a {
  display: block;
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 4%;
  margin-left: 13%;
  margin-top: -1%;
}

P {
  background-color: rgb(0, 0, 0);
}
