@charset "utf-8";

body {
  margin: 0;
  background-image: url(img/imagem.jpeg);
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  box-sizing: border-box;
}

main {
  margin-top: 150px;
}

p {
  text-align: center;
  color: white;
  background-color: rgb(0, 0, 0);
}

/* header/navbar */

.menu {
  margin-top: 5%;
}
nav.menu {
  background-color: rgba(0, 0, 0, 0.834);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  height: 60px;
  margin: 0;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

a.edLink {
  display: inline-block;
  padding: 15px 30px 15px 30px;
  letter-spacing: 3px;
}
a.edLink2 {
  display: inline-block;
  padding: 15px 30px 15px 30px;
  letter-spacing: 3px;
}
a.edLink3 {
  display: inline-block;
  padding: 15px 30px 15px 3px;
  letter-spacing: 3px;
}

/*inicio da pagina */

.initial h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  margin: 0;
}

/* primeiro conteúdo*/

.content {
  display: flex;
  margin-top: 10%;
}

.content img {
  margin: 0px 10px 0 15px;
  display: block;
  border-radius: 10px;
  width: 30rem;
  height: 30rem;
}

.content h3 {
  font-size: 30px;
  margin-left: 37px;
  color: white;
}

.content p {
  text-align: left;
  margin-left: 5%;
  max-width: 770px;
}

/* segundo conteúdo */

.contentTwo {
  margin-top: 10%;
  display: flex;
}

.contentTwo h3 {
  color: white;
  font-size: 30px;
  margin-left: 40px;
}

.contentTwo p {
  text-align: left;
  max-width: 770px;
  margin-left: 5%;
}

.contentTwo img {
  margin-left: 42px;
  display: block;
  border-radius: 10px;
  width: 30rem;
  height: 30rem;
}

/* terceiro conteúdo */

.contentThree {
  margin-top: 10%;
  display: flex;
}

.contentThree h3 {
  color: white;
  font-size: 30px;
  margin-left: 37px;
}

.contentThree img {
  margin: 0px 10px 0 15px;
  display: block;
  border-radius: 10px;
  width: 30rem;
  height: 30rem;
}

.contentThree p {
  text-align: left;
  margin-left: 5%;
  max-width: 770px;
}
